* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Montserrat;
  transition: all 0.5s ease;
  /* outline: solid 1px red; */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-thumb {
  background-color: #cfcdcd;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

.image-Rules-controller {
  width: 250px !important;
  height: 250px !important;
  margin: 30px;
  margin-block: 3rem;
  margin-top: 4rem;
}
.image-login-controller{
  width: 180px !important;
  height: 180px !important;
  margin: 20px;
  margin-block: 2rem;
  margin-top: 3rem;
}

/* sign up && login && forgot password screens */

.container-signup-wrapper {
  background-color: #242424;
}

.card {
  background: linear-gradient(90deg,
      rgb(238, 238, 238) 0%,
      rgb(240, 240, 240) 100%) !important;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 2rem;
  padding-inline: 3rem;
}

.form-control:focus {
  border-color: #663399 !important;
  box-shadow: 0 0 0 0.2rem rgba(102, 51, 153, 0.25) !important;
}

.container-signup-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-signup-wrapper {
  width: 100%;
  border-radius: 50px;
}

.text-header-signup {
  text-align: center;
  /* margin-bottom: 4rem; */
  padding-top: 1rem;
}

.Form-label-text {
  width: 100%;
  margin-bottom: 3rem;
}

.form-control {
  border: none;
  box-shadow: 0 0 0 0.1rem rgba(194, 194, 194, 0.25) !important;
  outline: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  transition: all 0.5s ease;
}

.alert-error-signup {
  width: 100%;
  background-color: #f5d7da;
  outline: solid 1px #c2aaac8b;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0 0.1rem rgba(194, 170, 172, 0.25) !important;
  overflow: hidden;
  /* Ensures that any content overflowing the box is hidden */
  padding: 1rem;
}

.alert-success-signup{
  background-color: #c4e5cd;
  /* margin-block: 1rem;
  padding: 1rem;
  border-radius: 0.2rem; */
  width: 100%;
  outline: solid 1px #aec2aa8b;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0 0.1rem rgba(172, 194, 170, 0.25) !important;
  overflow: hidden;
  /* Ensures that any content overflowing the box is hidden */
  padding: 1rem;
}

.alert-error-signup p,.alert-success-signup p  {
  white-space: wrap;
  /* Prevents text from wrapping to the next line */
  overflow: hidden;
  /* Hides any content that overflows the box */
  text-overflow: ellipsis;
  /* Displays an ellipsis (...) to indicate that the text is truncated */
}

.form-group {
  margin-top: 1rem;
}

.btn-form-submit {
  width: 100%;
  margin-top: 2rem;
  height: 3rem;
  color: var(--primary);
  background-color: #663399;
  transition: all 0.5s ease;
  font-size: 15px;
}

.btn-form-submit:hover,
.btn-form-submit:focus {
  background-color: #522a7a;
}
.btn-form-submit-second {
  width: 100%;
  margin-top: 0.5rem;
  height: 3rem;
  color: #c9c0dc;
  background-color: transparent;
  transition: all 0.5s ease;
  font-size: 15px;
  border: 2px solid #c9c0dc !important;
}

.btn-form-submit-second:hover,
.btn-form-submit-second:focus {
  background-color: #c9c0dc;
  color: var(--primary);
}

.link-text-display-signup {
  text-decoration: none;
  color: #663399;
  transition: all 0.5s ease;
}

.link-text-display-signup:hover,
.link-text-display-signup:focus {
  text-decoration: none;
  color: #522a7a;
}

.bottom-text-signup {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.under-card-text-signup {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

/* quiz Screen */
.wrapper-start-container{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.timer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.timer {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c9c0dc;

}

.timer span {
  display: block;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
}

.container-question-wrapper {
  background-image: url("/public/images/image-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: center;
}
.container-question-wrapper h1 {
  font-size: 34px;
}
.container-question-wrapper h4 {
  font-size: 20px;
}


.container-question-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-question-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.question-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  background-color: #fefffe66;
  padding: 2rem;
  border-radius: 5px;
}

.card-body-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.questions-grid {
  justify-items: stretch;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  /* height: 114px; */
  margin-top: 3rem;
  margin-bottom: 3rem !important;
  list-style: none !important;
}

.btn-question-submit {
  width: 100%;
  margin-top: 2rem;
  height: 3rem;
  color: var(--primary);
  background-color: #663399;
  transition: all 0.5s ease;
  /* font-size: 15px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-question-submit:hover,
.btn-question-submit:focus {
  background-color: #522a7a;
}
.btn-link-secondary{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: #663399;
  transition: all 0.5s ease;
}

.btn-link-secondary:hover,
.btn-link-secondary:focus {
  text-decoration: none;
  color: #522a7a;
}
/* Rank Hall screen */
.user-table-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-table {
  width: 25%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 2px;
  overflow: hidden;
  /* Ensures the border-radius is applied to the table */
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f2f2f258;
}

.user-table tbody tr:hover {
  background-color: #e5e5e5;
}

/* About-us Screen */
.intro-container {
  padding: 4rem;
  margin-block: 10rem;
  margin-inline: 20rem;
  background: linear-gradient(90deg,
      rgb(238, 238, 238) 0%,
      rgb(240, 240, 240) 100%) !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 7px;
}
.intro-container-wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #c9c0dc;

}

.intro-container p {
  padding: 1rem 0;
  font-size: 21px;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.1cqb;
  padding-left: 0.5rem;
  align-self: flex-start;
}

.intro-container h2 {
  /* padding: 1rem 0; */
  font-size: 24px;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-top: 58px;
}

.intro-container h3 {
  /* padding: 1rem 0; */
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-top: 30px;
}

.intro-container ul {
  padding: 1rem 0;
  list-style: none !important;
  font-size: 21px;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.1cqb;
  align-self: flex-start;
  padding-left: 0.5rem;
}

.intro-container ul li {
  position: relative;
  padding-left: 1em;
}

.intro-container ul li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .user-table {
    width: 50% !important;
  }

  .card-question-wrapper {
    max-width: 600px;
  }
  .intro-container {
    padding: 2rem;
    margin-inline: 5rem;
    margin-block: 7rem;
  }

  .intro-container p {
    font-size: 18px;
  }

  .intro-container ul {
    font-size: 18px;
  }

  .intro-container h2 {
    font-size: 20px;
  }

  .intro-container h3 {
    font-size: 18px;
  }

  .image-Rules-controller {
    width: 250px !important;
    height: 250px !important;
    margin: 20px;
    margin-block: 2rem;
    margin-top: 3rem;
  }
  .image-login-controller{
    width: 170px !important;
    height: 170px !important;
    margin: 15px;
    margin-block: 2rem;
    margin-top: 3rem;
  }
  .container-question-wrapper h1 {
    font-size: 26px;
  }
  .container-question-wrapper h4 {
    font-size: 18px;
  }
  .btn-question-submit {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .user-table {
    width: 70% !important;
  }

  .questions-grid {
    justify-items: stretch;
    justify-content: flex-end;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem !important;
    list-style: none !important;
    padding-top: 0rem;
  }

  .card-body-question {
    justify-content: flex-start;
    height: 60vh;
  }

  .card-question-wrapper {
    max-width: 400px;
  }

  .intro-container {
    padding: 1.5rem;
    margin-inline: 3rem;
    margin-block: 5rem;
  }

  .intro-container p {
    font-size: 16px;
  }

  .intro-container ul {
    font-size: 16px;
  }

  .intro-container h2 {
    font-size: 18px;
  }

  .intro-container h3 {
    font-size: 17px;
  }

  .image-Rules-controller {
    width: 150px !important;
    height: 150px !important;
    margin: 10px;
    margin-block: 1rem;
    margin-top: 2rem;
  }
  .image-login-controller{
    width: 120px !important;
    height: 120px !important;
    margin: 10px;
    margin-block: 1rem;
    margin-top: 2rem;
  }
  .container-question-wrapper h1 {
    font-size: 22px;
  }
  .container-question-wrapper h4 {
    font-size: 16px;
  }
}