:root {
  --primaryBg: #fefffe;
  --secondaryBg: #fefffe66;
  --primaryDarkBg: #242424;

  --motionBg: #1c1c1c;
  --motionBgImage: linear-gradient(hsl(343, 100%, 37%), hsl(270, 50%, 40%));
  --shadowDisplay: rgba(255, 255, 255, 0.7);

  --cardBoxShadow: rgba(201, 192, 220, 0.384);
  --cardFilterShadow: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  --cardAfterBg: linear-gradient(
    90deg,
    rgb(107, 106, 106) 0%,
    rgb(111, 106, 106) 100%
  );
  --cardText: #252e48;

  --footerFocus: #dadada;
  --footerPlaceHolder: #b1b1b1;

  --navBg: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  --navUserBoxBg: linear-gradient(
    90deg,
    rgb(107, 106, 106) 0%,
    rgb(111, 106, 106) 100%
  );
  --navBox: #a8a8a8;

  --primaryBtn: #663399;
  --primaryBtnFocus: #522a7a;
  --primaryBtnShadowDark: rgba(102, 51, 153, 0.25);

  --secondaryBtn: #c9c0dc;
  --secondaryBtnShadowLighter: rgba(194, 194, 194, 0.25);

  --successBg: #c4e5cd;
  --successOutline: #aec2aa8b;
  --successShadow: rgba(172, 194, 170, 0.25);

  --errorBg: #f5d7da;
  --errorOutline: #c2aaac8b;
  --errorShadow: rgba(194, 170, 172, 0.25);

  --tableBg: #f2f2f258;
  --tableFocus: #e5e5e5;
  --tableBorder: #ddd;

  --fontXXSmall: 0.625rem; /*  10px */
  --fontXSmall: 0.75rem; /*  12px */
  --fontSmall: 1rem; /*  16px */
  --fontXXMedium: 1.0625rem; /*  17px */
  --fontXMedium: 1.125rem; /*  18px */
  --fontMedium: 1.25rem; /*  20px */
  --fontXXLarge: 1.375rem; /*  22px */
  --fontXLarge: 1.5rem; /*  24px */
  --fontLarge: 1.625rem; /*  26px */
  --fontXXMax: 1.875rem; /*  30px */
  --fontXMax: 2rem; /*  32px */
  --fontMax: 2.125rem; /*  34px */
  --fontDisplaySmall: 3.125rem; /*  50px */
  --fontDisplayMedium: 4.375rem; /*  70px */
  --fontDisplayLarge: 6.25rem; /*  100px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Montserrat;
  transition: all 0.5s ease;
  /* outline: solid 1px red; */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-thumb {
  background-color: #cfcdcd;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

.image-Rules-controller {
  width: 250px !important;
  height: 250px !important;
  margin: 30px;
  margin-block: 3rem;
  margin-top: 4rem;
}
.image-winner-controller {
  width: 400px !important;
  height: 400px !important;
  /* margin: 20px; */
  margin-block: 2rem;
  margin-top: 3rem;
}
.image-login-controller {
  width: 180px !important;
  height: 180px !important;
  margin: 20px;
  margin-block: 2rem;
  margin-top: 3rem;
}

/* sign up && login && forgot password screens */

.container-signup-wrapper {
  background-color: var(--primaryDarkBg);
}

.card {
  background: linear-gradient(
    90deg,
    rgb(238, 238, 238) 0%,
    rgb(240, 240, 240) 100%
  ) !important;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 2rem;
  /* padding-inline: 3rem; */
}

.form-control:focus {
  border-color: var(--primaryBtn) !important;
  box-shadow: 0 0 0 0.2rem var(--primaryBtnShadow) !important;
}

.container-signup-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-signup-wrapper {
  width: 100%;
  border-radius: 50px;
}

.text-header-signup {
  text-align: center;
  /* margin-bottom: 4rem; */
  padding-top: 1rem;
}

.Form-label-text {
  width: 100%;
  margin-bottom: 3rem;
}

.form-control {
  border: none;
  box-shadow: 0 0 0 0.1rem var(--secondaryBtnShadowLighter) !important;
  outline: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  transition: all 0.5s ease;
}

.alert-error-signup {
  width: 100%;
  background-color: var(--errorBg);
  outline: solid 1px var(--errorOutline);
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0 0.1rem var(--errorShadow) !important;
  overflow: hidden;
  /* Ensures that any content overflowing the box is hidden */
  padding: 1rem;
}

.alert-success-signup {
  background-color: var(--successBg);
  /* margin-block: 1rem;
  padding: 1rem;
  border-radius: 0.2rem; */
  width: 100%;
  outline: solid 1px var(--successOutline);
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0 0.1rem var(--successShadow) !important;
  overflow: hidden;
  /* Ensures that any content overflowing the box is hidden */
  padding: 1rem;
}

.alert-error-signup p,
.alert-success-signup p {
  white-space: wrap;
  /* Prevents text from wrapping to the next line */
  overflow: hidden;
  /* Hides any content that overflows the box */
  text-overflow: ellipsis;
  /* Displays an ellipsis (...) to indicate that the text is truncated */
}

.form-group {
  margin-top: 1rem;
}

.btn-form-submit {
  width: 100%;
  margin-top: 2rem;
  height: 3rem;
  color: var(--primaryBg);
  background-color: var(--primaryBtn);
  transition: all 0.5s ease;
  font-size: var(--fontSmall);
}

.btn-form-submit:hover,
.btn-form-submit:focus {
  background-color: var(--primaryBtnFocus);
}
.btn-form-submit-second {
  width: 100%;
  margin-top: 0.5rem;
  height: 3rem;
  color: var(--secondaryBtn);
  background-color: transparent;
  transition: all 0.5s ease;
  font-size: var(--fontSmall);
  border: 2px solid var(--secondaryBtn);
}

.btn-form-submit-second:hover,
.btn-form-submit-second:focus {
  background-color: var(--secondaryBtn);
  color: var(--primaryBg);
}

.link-text-display-signup {
  text-decoration: none;
  color: var(--primaryBtn);
  transition: all 0.5s ease;
}

.link-text-display-signup:hover,
.link-text-display-signup:focus {
  text-decoration: none;
  color: var(--primaryBtnFocus);
}

.bottom-text-signup {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.under-card-text-signup {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

/* quiz Screen */
.wrapper-start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.timer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.timer {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--secondaryBtn);
}

.timer span {
  display: block;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--fontSmall);
}

.container-question-wrapper {
  background-image: url("/public/images/image-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: center;
}
.container-question-wrapper h1 {
  font-size: var(--fontMax);
}
.container-question-wrapper h4 {
  font-size: var(--fontMedium);
}

.container-question-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-question-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.question-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  background-color: var(--secondaryBg);
  padding: 2rem;
  border-radius: 5px;
}
.question-wrapper-gameOver {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 2rem auto; */
  background-color: var(--secondaryBg);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card-body-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}
.card-body-question-gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions-grid {
  justify-items: stretch;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  /* height: 114px; */
  margin-top: 3rem;
  margin-bottom: 3rem !important;
  list-style: none !important;
}

.btn-question-submit {
  width: 100%;
  margin-top: 2rem;
  height: 3rem;
  color: var(--primaryBg);
  background-color: var(--primaryBtn);
  transition: all 0.5s ease;
  /* font-size: var(--fontSmall); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-question-submit:hover,
.btn-question-submit:focus {
  background-color: var(--primaryBtnFocus);
}
.btn-link-secondary {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: var(--fontXSmall);
  text-decoration: none;
  color: var(--primaryBtn);
  transition: all 0.5s ease;
}

.btn-link-secondary:hover,
.btn-link-secondary:focus {
  text-decoration: none;
  color: var(--primaryBtnFocus);
}

.share-url-holder {
  display: flex;
  align-items: center;
  border: 1px solid #dfdede;
  border-radius: 2px;
  min-height: 4vh;
  padding: 4px 16px;
  margin-inline: 1rem;
  white-space: nowrap;
}
.share-url-holder > :first-child {
  flex: auto;
}
.share-url-holder > :last-child {
  flex: initial;
}
.share-link-social-icons {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  border-radius: 50%;
  transition: opacity 0.2s;
}
.share-link-social-icons:hover {
  opacity: 0.75;
}
.share-container-backdrop {
  z-index: 0;
  height: 92vh;
  width: 100%;
  background-color: rgba(25, 27, 38, 0.16);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  transition-duration: 500ms;
}
.share-container-backdrop-trigger {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  position: relative;
}

.share-container-disable {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  border-radius: 5px;
  max-width: 600px;
  height: 25vh;
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgb(238, 238, 238) 0%,
    rgb(240, 240, 240) 100%
  );
}

.wrapper-share-container {
  margin-inline: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-block: 0.5rem;
  align-items: center;
}
.social-card-container{
  display: flex;
  justify-content: center;
}
.social-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-block: 2rem;
  margin-inline: 1rem;
}
/* Rank Hall screen */
.user-table-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-table {
  width: 25%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 2px;
  overflow: hidden;
  /* Ensures the border-radius is applied to the table */
}

.user-table th,
.user-table td {
  border: 1px solid var(--tableBorder);
  padding: 8px;
  text-align: left;
  background-color: var(--tableBg);
}

.user-table tbody tr:hover {
  background-color: var(--tableFocus);
}

/* About-us Screen */
.intro-container {
  padding: 4rem;
  margin-block: 10rem;
  margin-inline: 20rem;
  background: linear-gradient(
    90deg,
    rgb(238, 238, 238) 0%,
    rgb(240, 240, 240) 100%
  ) !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 7px;
}
.intro-container-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--secondaryBtn);
}

.intro-container p {
  padding: 1rem 0;
  font-size: var(--fontMedium);
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.1cqb;
  padding-left: 0.5rem;
  align-self: flex-start;
}

.intro-container h2 {
  /* padding: 1rem 0; */
  font-size: var(--fontXLarge);
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-top: 58px;
}

.intro-container h3 {
  /* padding: 1rem 0; */
  font-size: var(--fontMedium);
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  margin-top: 30px;
}

.intro-container ul {
  padding: 1rem 0;
  list-style: none !important;
  font-size: var(--fontMedium);
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.1cqb;
  align-self: flex-start;
  padding-left: 0.5rem;
}

.intro-container ul li {
  position: relative;
  padding-left: 1em;
}

.intro-container ul li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .user-table {
    width: 50% !important;
  }

  .card-question-wrapper {
    max-width: 600px;
  }
  .intro-container {
    padding: 2rem;
    margin-inline: 5rem;
    margin-block: 7rem;
  }

  .intro-container p {
    font-size: var(--fontXMedium);
  }

  .intro-container ul {
    font-size: var(--fontXMedium);
  }

  .intro-container h2 {
    font-size: var(--fontMedium);
  }

  .intro-container h3 {
    font-size: var(--fontXMedium);
  }

  .image-Rules-controller {
    width: 250px !important;
    height: 250px !important;
    margin: 20px;
    margin-block: 2rem;
    margin-top: 3rem;
  }
  .image-winner-controller {
    width: 400px !important;
    height: 400px !important;
    /* margin: 20px; */
    margin-block: 2rem;
    margin-top: 3rem;
  }
  .image-login-controller {
    width: 170px !important;
    height: 170px !important;
    margin: 15px;
    margin-block: 2rem;
    margin-top: 3rem;
  }
  .container-question-wrapper h1 {
    font-size: var(--fontLarge);
  }
  .container-question-wrapper h4 {
    font-size: var(--fontXMedium);
  }
  .btn-question-submit {
    margin-top: 0rem;
  }
  .share-container-backdrop-trigger {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 67vh;
    z-index: 1;
  }
  .share-container-disable {
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    height: 25vh;
    z-index: 1;
    background: linear-gradient(
      90deg,
      rgb(238, 238, 238) 0%,
      rgb(240, 240, 240) 100%
    );
    top: unset;
    left: unset;
    transform: unset;
    max-width: unset;
  }
}

@media screen and (max-width: 768px) {
  .user-table {
    width: 70% !important;
  }

  .questions-grid {
    justify-items: stretch;
    justify-content: flex-end;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem !important;
    list-style: none !important;
    padding-top: 0rem;
  }

  .card-body-question {
    justify-content: flex-start;
    height: 60vh;
  }
  .card-body-question-gameOver {
    justify-content: flex-start;
  }

  .card-question-wrapper {
    max-width: 400px;
  }

  .intro-container {
    padding: 1.5rem;
    margin-inline: 3rem;
    margin-block: 5rem;
  }

  .intro-container p {
    font-size: var(--fontSmall);
  }

  .intro-container ul {
    font-size: var(--fontSmall);
  }

  .intro-container h2 {
    font-size: var(--fontXMedium);
  }

  .intro-container h3 {
    font-size: var(--fontXXMedium);
  }

  .image-Rules-controller {
    width: 150px !important;
    height: 150px !important;
    margin: 10px;
    margin-block: 1rem;
    margin-top: 2rem;
  }
  .image-winner-controller {
    width: 300px !important;
    height: 300px !important;
    /* margin: 20px; */
    margin-block: 2rem;
    margin-top: 3rem;
  }
  .image-login-controller {
    width: 120px !important;
    height: 120px !important;
    margin: 10px;
    margin-block: 1rem;
    margin-top: 2rem;
  }
  .container-question-wrapper h1 {
    font-size: var(--fontXXLarge);
  }
  .container-question-wrapper h4 {
    font-size: var(--fontSmall);
  }

  .share-container-backdrop-trigger {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 67vh;
    z-index: 1;
  }
  .share-container-disable {
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    height: 28vh;
    z-index: 1;
    background: linear-gradient(
      90deg,
      rgb(238, 238, 238) 0%,
      rgb(240, 240, 240) 100%
    );
    top: unset;
    left: unset;
    transform: unset;
    max-width: unset;
  }
}
