.navbarCST {
  background: linear-gradient(90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%) !important;
  height: 80px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1.2rem !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 999 !important;
}

.navbarCST-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 80px !important;
  max-width: 1500px !important;
  /* background-color: #242424 !important; */
}

.navbarCST-logo {
  color: #fefffe !important;
  justify-self: start !important;
  margin-left: 20px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  font-size: 2rem !important;
  display: flex !important;
  align-items: center !important;
}

.fa-codepen {
  margin-left: 0.5rem !important;
  font-size: 1.8rem !important;
}

.nav-menu {
  display: flex !important;
  flex-direction: row-reverse;
  gap: 10px !important;
  list-style: none !important;
  text-align: center !important;
  width: 54vw !important;
  justify-content: flex-start !important;
  margin-right: 2rem !important;
}

.nav-menu-line-spliter{
 width: 5px;
 margin-right: 10px;
 height: 65%;
}

.nav-user-info-item-container-wrapper {
  height: 80px !important;
}

.nav-user-info-item-container {
  color: #fefffe !important;
  display: flex !important;
  align-items: center !important;
  text-decoration: none !important;
  padding: 0.5rem 1rem !important;
  height: 100% !important;
  gap: 1rem;
}

.nav-user-image-display-contaier{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-user-image-holder{
  width: 60%;
  height: 60%;
  padding: 2rem;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(107, 106, 106) 0%, rgb(111, 106, 106) 100%) !important;
}

.nav-user-name-email-display-container-wrapper{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 2px;
  background: linear-gradient(90deg, rgb(107, 106, 106) 0%, rgb(111, 106, 106) 100%) !important;
}

.nav-user-name-display-contaier{
  font-size: 21px;
  font-weight: 700;
}
.nav-user-email-display-contaier{
  font-size: 11px;
  font-weight: 400;
  color: #a8a8a8;
}




dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

.nav-item {
  height: 80px !important;
}


.nav-links {
  color: #fefffe !important;
  display: flex !important;
  align-items: center !important;
  text-decoration: none !important;
  padding: 0.5rem 1rem !important;
  height: 100% !important;
}
.menu-active-line-spliter{
  display: none;
 }
.nav-links:hover {
  border-bottom: 4px solid rebeccapurple !important;
  transition: all 0.2s ease-out !important;
}

.fa-bars {
  color: #fefffe !important;
}

.nav-links-mobile {
  display: none !important;
}

.menu-icon {
  display: none !important;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative !important;
  }

  .nav-menu {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 92vh !important;
    position: absolute !important;
    top: 80px !important;
    left: -100% !important;
    opacity: 1 !important;
    transition: all 0.5s ease !important;
    justify-content: start !important;
    padding-top: 5rem;
  }

  .nav-menu.active {
    background: #242222 !important;
    left: 0 !important;
    opacity: 1 !important;
    transition: all 0.5s ease !important;
    z-index: 1 !important;
  }

  .nav-links {
    text-align: center !important;
    padding: 2rem !important;
    width: 100% !important;
    display: table !important;
  }

  .nav-links:hover {
    background-color: #898989 !important;
    color: #242424 !important;
    border-radius: 0 !important;
  }

  .navbarCST-logo {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(10%, 50%) !important;
    font-weight: 600 !important;
  }

  .menu-icon {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    transform: translate(-100%, 60%) !important;
    font-size: 1.8rem !important;
    cursor: pointer !important;
  }

  .fa-times {
    color: #fefffe !important;
    font-size: 2rem !important;
  }

  .nav-links-mobile {
    display: block !important;
    text-align: center !important;
    margin: 1rem auto !important;
    border-radius: 4px !important;
    width: 80% !important;
    text-decoration: none !important;
    font-size: 1.5rem !important;
    background-color: transparent !important;
    color: #fefffe !important;
    padding: 14px 20px !important;
    border: 1px solid #fefffe !important;
    transition: all 0.3s ease-out !important;
  }

  .nav-links-mobile:hover {
    background: rebeccapurple !important;
    color: #242424 !important;
    transition: 250ms !important;
  }
  
.nav-user-info-item-container-wrapper {
  height: 120px !important;
}

.nav-user-info-item-container {
  color: #fefffe !important;
  display: flex !important;
  align-items: center !important;
  text-decoration: none !important;
  padding: 0.5rem 1rem !important;
  height: 100% !important;
  gap: 1rem;
}

.nav-user-image-display-contaier{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-user-image-holder{
  width: 60%;
  height: 60%;
  padding: 3rem;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(107, 106, 106) 0%, rgb(111, 106, 106) 100%) !important;
}

.nav-user-name-email-display-container-wrapper{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 2px;
  background: linear-gradient(90deg, rgb(107, 106, 106) 0%, rgb(111, 106, 106) 100%) !important;
}

.nav-user-name-display-contaier{
  font-size: 28px;
  font-weight: 700;
}
.nav-user-email-display-contaier{
  font-size: 14px;
  font-weight: 400;
  color: #a8a8a8;
}
.nav-menu-line-spliter{
  display: none;
 }
 .menu-active-line-spliter{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
}