.navbarCST {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbarCST-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  /* background-color: #242424 ; */
}

.navbarCST-logo {
  color: #fefffe;
  justify-self: start;
  margin-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-codepen {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  list-style: none;
  text-align: center;
  /* width: 75vw ; */
  justify-content: flex-start;
  /* margin-right: 2rem ; */
}

.nav-menu-line-splitter {
  width: 5px;
  margin-right: 10px;
  height: 65%;
}

.nav-user-info-item-container-wrapper {
  transition: all 0.5s ease;
  height: 80px;
}
.nav-user-info-item-container-wrapper.active {
  width: 38vw;
  transition: all 1s ease;
}

.nav-user-info-item-container {
  color: #fefffe;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  gap: 1rem;
}

.nav-user-image-display-container {
  /* width: 20%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user-image-holder {
  /* width: 10%;
  height: 10%;
  padding: 25px; */
  border-radius: 50%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(107, 106, 106) 0%,
    rgb(111, 106, 106) 100%
  );
}

.nav-user-name-email-display-container-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(107, 106, 106) 0%,
    rgb(111, 106, 106) 100%
  );
}
.nav-user-name-email-display-container-wrapper.active {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(107, 106, 106) 0%,
    rgb(111, 106, 106) 100%
  );
}
.horizontal-line-separator {
  height: 100%;
}

.nav-user-name-display-container {
  font-size: 21px;
  font-weight: 700;
  text-align: left;
}

.nav-user-email-display-container {
  font-size: 11px;
  font-weight: 400;
  color: #a8a8a8;
}

.image-size-controller {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.image-profile-size-controller {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fefffe;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 4px solid transparent;
}

.menu-active-line-splitter {
  display: none;
}

.nav-links:hover {
  border-bottom: 4px solid rebeccapurple;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fefffe;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
@media screen and (max-width: 1530px) {
  .nav-user-info-item-container-wrapper.active {
    width: 40vw;
    transition: all 1s ease;
  }

  .nav-user-name-display-container {
    font-size: 18px;
  }
  .nav-user-email-display-container {
    font-size: 10px;
  }
  .nav-menu {
    font-size: 18px;
  }
}
@media screen and (max-width: 1155px) {
  .nav-user-info-item-container-wrapper.active {
    width: 52vw;
    transition: all 1s ease;
  }
  .nav-user-name-display-container {
    font-size: 18px;
  }
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 92vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: flex-start;
    padding-top: 5rem;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #898989;
    color: #242424;
    border-radius: 0;
  }

  .navbarCST-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 50%);
    font-weight: 600;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fefffe;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 1rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fefffe;
    padding: 14px 20px;
    border: 1px solid #fefffe;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: rebeccapurple;
    color: #242424;
    transition: 250ms;
  }

  .nav-user-info-item-container-wrapper {
    height: 120px;
    transition: all 1s ease;
  }

  .nav-user-info-item-container-wrapper.active {
    transition: all 1s ease;
    height: 300px;
    width: 100%;
  }

  .nav-user-info-item-container {
    color: #fefffe;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    gap: 1rem;
  }

  .nav-user-image-display-container {
    /* width: 20%;
    height: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-user-image-holder {
    /* width: 100px;
    height: 100px;
    padding: 3rem; */
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      rgb(107, 106, 106) 0%,
      rgb(111, 106, 106) 100%
    );
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .horizontal-line-separator {
    width: 100%;
  }
  .nav-item-user {
    width: 100%;
  }

  .nav-user-name-email-display-container-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(107, 106, 106) 0%,
      rgb(111, 106, 106) 100%
    );
  }
  .nav-user-name-email-display-container-wrapper.active {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(107, 106, 106) 0%,
      rgb(111, 106, 106) 100%
    );
  }

  .nav-user-name-display-container {
    font-size: 28px;
    font-weight: 700;
  }

  .nav-user-email-display-container {
    font-size: 14px;
    font-weight: 400;
    color: #a8a8a8;
  }

  .nav-menu-line-splitter {
    display: none;
  }

  .menu-active-line-splitter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .image-size-controller {
    width: 95px;
    height: 95px;
    /* Add height if needed */
  }
}
